.main-page-header {
    width: 98%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-page-title {
    position: absolute;
    top: 15%;
    margin-left: 6%;
    width: 100%;
    font-size: 3vw;
}

.test-choice {
    text-align: center;
}